---
layout: default
title: Category
permalink: /category.html
---
<section class="icons-category-section">
    <div class="container">
        <div class="icons-category-inner section-inner">
            <div class="icons-header text-center">
                <h2 class="section-title mt-0 gradient-text-people">Meet Our Icons</h2>
                <p class="section-paragraph mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad quis nostrud.</p>
            </div>
            <div class="icons-category-wrap">
                {% for category in site.category %}
                <div class="category-box">
                    <div class="category-name">
                        {{ category.display_name }}
                    </div>
                    <div class="icon-preview">
                        {% assign filtered_icons = site.icons | where: 'category', category.name | where_exp:"icon","icon.is_generated != true" %}
                        {% for icon in filtered_icons limit:7 %}
                        <span class="{{ icon.name }} category-icon-margin"></span>
                        {% endfor %}
                    </div>
                <a class="category-icon" href="{{ site.baseurl }}{{ category.url }}" style="text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>