<section class="hero">
    <div class="container" s>
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0"><span class="gradient-text feature_hero">Elegant.</span><span class="gradient-text-love feature_hero">Simple.</span><span class="gradient-text-star feature_hero">Modern.</span></h1>
                <p class="hero-paragraph">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
                <div class="hero-cta"><a class="button neo-button" href="#">Pre order now</a><a class="button neo-button" href="#">Get in touch</a></div>
            </div>
            <div class="hero-copy card-grid">
                <div class="header-card">
                    <span class="iconly-boldEdit-Square gradient-text-design" style="font-size: 40px;"></span>
                    <span class="header-card-text"><span class="header-no">500+</span><span class="header-text">Graphic Contents</span>
                </div>
                <div class="header-card">
                    <span class="iconly-boldHeart gradient-text-love" style="font-size: 40px;"></span>
                    <span class="header-card-text"><span class="header-no">50+</span><span class="header-text">Happy Customers</span>
                </div>
                <div class="header-card">
                    <span class="iconly-boldStar gradient-text-star" style="font-size: 40px;"></span>
                    <span class="header-card-text"><span class="header-no">25+</span><span class="header-text">Wedsites Coded</span>
                </div>
                <div class="header-card">
                    <span class=" iconly-boldBag gradient-text-people" style="font-size: 40px;"></span>
                    <span class="header-card-text"><span class="header-no">20+</span><span class="header-text">Ecommerce Websites</span>
                </div>
            </div>
        </div>
    </div>
</section>