<!-- Icon Box -->
<div class="icons-body">
    <button class="copy-btn" data-clipboard-target="#{{ icon.name }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
    </button>
    <!-- Icon Tag -->
    {% include new-icon-tag.html date=icon.date %}
    <span class="icons-code">{{ icon.code }}</span>
    <i class="{{ icon.name }}" style="font-size: 45px;">{% include span.html %}</i>
    <span class="icons-name">{{ icon.display_name }}</span>
    <input class="icons-short_name" id="{{ icon.name }}" value="{{ icon.name }}" readonly>
</div>