<div class="menu">
    <a href=""><span class="iconly-boldHome gradient-text" style="font-size: 30px;"></span></a>
    <a href=""><span class="iconly-boldSwap inactive-text" style="font-size: 30px;"></span></a>
    <a href=""><span class="iconly-boldPlay inactive-text" style="font-size: 30px;"></span></a>
    <a href=""><span class="iconly-boldPaper inactive-text" style="font-size: 30px;"></span></a>
    <a href=""><span class="iconly-boldFolder inactive-text" style="font-size: 30px;"></span></a>
</div>