---
layout: default
---
<section class="icons-section">
    <div class="container">
        <div class="icons-inner section-inner">
            <div class="icons-header text-center">
                <h2 class="section-title mt-0" style="color: {{ page.color-primary }};">{{ page.title }}</h2>
                <article class="markdown-body">
                    {{ content }}
                </article>
            </div>
            <div class="icons-wrap">
                {% assign sorted_icons = site.icons | where: "type", page.name | sort: "name" %}
                {% for icon in sorted_icons %}
                {% include icon-box.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>