<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solid Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/neomorphic.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/responsive.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/icons/bold-icons/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/icons/brand-icons/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/icons/bulk-icons/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<!-- Removed "has-animations"-->
<body class="is-boxed">
    <!-- Menu -->
    {% include menu.html %}

    <!-- Header -->
    {% include header.html %}

    {{ content }}

    <!-- Footer -->
    {% include footer.html %}

    {% include modal-icon.html %}

    <script src="{{ site.baseurl }}/dist/js/main.min.js"></script>
    <script src="{{ site.baseurl }}/dist/js/demo.js"></script>
    <script src="{{ site.baseurl }}/dist/js/clipboard.min.js"></script>
    <script>
        new ClipboardJS('.copy-btn');
    </script>

</body>
</html>