<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solid Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/neomorphic.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/responsive.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/markdown.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 15px;
            color: #c0c9da;
        }
    
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
    <link rel="stylesheet" href="{{ site.baseurl }}/icons/all-icons/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/icons/bulk-icons/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<!-- Removed "has-animations"-->
<body class="is-boxed">
    <!-- Menu -->
    {% include menu.html %}

    <!-- Header -->
    {% include header.html %}

    {{ content }}

    <!-- Footer -->
    {% include footer.html %}

    {% include search-modal.html %}

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/dist/js/main.min.js"></script>
    <script src="{{ site.baseurl }}/dist/js/demo.js"></script>
    <script src="{{ site.baseurl }}/dist/js/clipboard.min.js"></script>

    <!-- Clipbroad JS-->
    <script>
        new ClipboardJS('.copy-btn');
    </script>

    <!-- Script pointing to search-script.js -->
    <script src="{{ site.baseurl }}/dist/js/search-script.js" type="text/javascript"></script>

    <!-- Search Script Configuration -->
    {% include search-script.html %}

</body>
</html>