---
layout: default
---
<section class="icons-section">
    <div class="container">
        <div class="icons-inner section-inner">
            <div class="icons-header text-center">
                <h2 class="section-title mt-0 {{ page.gradient }}">{{ page.display_name }}</h2>
                <p class="section-paragraph mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad quis nostrud.</p>
            </div>
            <div class="icons-wrap">
                {% assign filtered_icons = site.icons | where: 'category', page.name | where_exp:"icon","icon.is_generated != true" %}
                {% for icon in filtered_icons %}
                <a href="{{ site.baseurl }}{{ icon.url }}" style="text-decoration: none;"><div class="icons-body">
                    <span class="{{ icon.name }}" style="font-size: 50px;"></span>
                    <span class="icons-name">{{ icon.display_name }}</span>
                </div></a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>